In [5]:
# libraries to work with
import pandas as pd
import numpy as np

In [6]:
df = pd.read_csv('Fortune500.csv')

In [7]:
# First 5 rows
df.head()

,Rank,Title,Employees,Sector,Industry,Hqcity,Ceo,Ceo-title,Revenues,Revchange,Profits,Prftchange,Assets
0,1,Walmart,2300000,Retailing,General Merchandisers,Bentonville,C. Douglas McMillon,"President, Chief Executive Officer & Director",485873,0.8,13643.0,-7.2,198825
1,2,Berkshire Hathaway,367700,Financials,Insurance: Property and Casualty (Stock),Omaha,Warren E. Buffett,Chairman & Chief Executive Officer,223604,6.1,24074.0,0,620854
2,3,Apple,116000,Technology,"Computers, Office Equipment",Cupertino,Timothy D. Cook,Chief Executive Officer & Director,215639,-7.7,45687.0,-14.4,321686
3,4,Exxon Mobil,72700,Energy,Petroleum Refining,Irving,Darren W. Woods,Chairman & Chief Executive Officer,205004,-16.7,7840.0,-51.5,330314
4,5,McKesson,68000,Wholesalers,Wholesalers: Health Care,San Francisco,John H. Hammergren,"Chairman, President & Chief Executive Officer",192487,6.2,2258.0,53,56563

In [8]:
# Last 5 rows
df.tail()

,Rank,Title,Employees,Sector,Industry,Hqcity,Ceo,Ceo-title,Revenues,Revchange,Profits,Prftchange,Assets
495,496,Michaels Cos.,31000,Retailing,Specialty Retailers: Other,Irving,Carl S. Rubin,Chairman & Chief Executive Officer,5197,5.8,378.2,4.2,2148
496,497,Toll Brothers,4200,Engineering & Construction,Homebuilders,Horsham,Douglas C. Yearley Jr.,Chief Executive Officer & Director,5170,23.9,382.1,5.2,9737
497,498,Yahoo,8500,Technology,Internet Services and Retailing,Sunnyvale,Marissa A. Mayer,"President, Chief Executive Officer & Director",5169,4.0,-214.3,5.2,48083
498,499,Vistra Energy,4431,Energy,Energy,Dallas,Curtis A. Morgan,"President, Chief Executive Officer & Director",5164,4.0,-214.3,5.2,15167
499,500,ABM Industries,110000,Business Services,Diversified Outsourcing Services,New York,Scott B. Salmirs,"President, Chief Executive Officer & Director",5145,-2.8,57.2,-25,2281

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rank        500 non-null    int64
 1   Title       500 non-null    object
 2   Employees   500 non-null    int64
 3   Sector      500 non-null    object
 4   Industry    500 non-null    object
 5   Hqcity      500 non-null    object
 6   Ceo         500 non-null    object
 7   Ceo-title   500 non-null    object
 8   Revenues    500 non-null    int64
 9   Revchange   500 non-null    float64
 10  Profits     500 non-null    float64
 11  Prftchange  500 non-null    object
 12  Assets      500 non-null    int64
dtypes: float64(2), int64(4), object(7)
memory usage: 50.9+ KB

In [10]:
df1 = df[['Rank','Title','Employees','Sector','Revenues','Profits' ]]

In [11]:
df1.head(10)

,Rank,Title,Employees,Sector,Revenues,Profits
0,1,Walmart,2300000,Retailing,485873,13643.0
1,2,Berkshire Hathaway,367700,Financials,223604,24074.0
2,3,Apple,116000,Technology,215639,45687.0
3,4,Exxon Mobil,72700,Energy,205004,7840.0
4,5,McKesson,68000,Wholesalers,192487,2258.0
5,6,UnitedHealth Group,230000,Health Care,184840,7017.0
6,7,CVS Health,204000,Health Care,177526,5317.0
7,8,General Motors,225000,Motor Vehicles & Parts,166380,9427.0
8,9,AT&T,268540,Telecommunications,163786,12976.0
9,10,Ford Motor,201000,Motor Vehicles & Parts,151800,4596.0

In [12]:
df1.describe()

             Rank     Employees       Revenues       Profits
count  500.000000  5.000000e+02     500.000000    500.000000
mean   250.492000  5.635013e+04   24111.748000   1779.479800
std    144.477366  1.234520e+05   38337.353337   3937.558721
min      1.000000  8.300000e+01    5145.000000  -6177.000000
25%    125.750000  1.190000e+04    7245.000000    235.725000
50%    250.500000  2.500000e+04   11384.000000    683.600000
75%    375.250000  5.682525e+04   22605.250000   1770.775000
max    500.000000  2.300000e+06  485873.000000  45687.000000

In [13]:
mean_rev = df1['Revenues'].mean()
mean_rev

24111.748

In [14]:
med_rev = df1['Revenues'].median()
med_rev

11384.0

In [15]:
mode_rev = df1['Revenues'].mode()
mode_rev

0    9061
Name: Revenues, dtype: int64

In [16]:
min_rev = df1['Revenues'].min()
min_rev

5145

In [17]:
max_rev = df1['Revenues'].max()
max_rev

485873

In [18]:
range = max_rev - min_rev
range

480728

In [19]:
sd = df1['Revenues'].std()
sd

38337.35333653324

In [20]:
var = df1['Revenues'].var()
var

1469752660.8501961

In [21]:
# Quantile
# p75 = q3 and p25 = q1
q1 = df1['Revenues'].quantile(.25)
q3 =  df1['Revenues'].quantile(.75)
iqr = q3-q1
iqr

15360.25

In [22]:
# or there is a another method for this
iqr2 = df1['Revenues'].quantile(.75)-df1['Revenues'].quantile(.25)
iqr2

15360.25

In [23]:
skew = df1['Revenues'].skew()
skew

5.480066970305041

In [24]:
# Calculate the cv of revenue colunm
cv = (df1['Revenues'].std()/df1['Revenues'].mean())*100
print("The cv of revenues column is " , cv , '%')

The cv of revenues column is  158.99864803055027 %

In [25]:
# Calculate the cv of profits colunm
cv1 = (df1['Profits'].std()/df1['Profits'].mean())*100
print("The cv of Profits column is " , cv1 , '%')

The cv of Profits column is  221.2758313353473 %

In [26]:
df1.sample(10)

,Rank,Title,Employees,Sector,Revenues,Profits
134,135,Abbott Laboratories,75000,Health Care,20853,1400.0
17,18,Kroger,443000,Food & Drug Stores,115337,1975.0
442,443,Adobe Systems,15706,Technology,5854,1168.8
296,297,MGM Resorts International,66500,"Hotels, Restaurants & Leisure",9455,1101.4
117,118,Arrow Electronics,18700,Wholesalers,23825,522.8
494,495,Big Lots,23150,Retailing,5200,152.8
381,382,Erie Insurance Group,4988,Financials,7016,741.9
203,204,Monsanto,22450,Chemicals,13502,1336.0
428,429,Expeditors International of Washington,16000,Transportation,6098,430.8
16,17,Walgreens Boots Alliance,300000,Food & Drug Stores,117351,4173.0

In [27]:
sample1 = df.sample(frac = .5)
saple = sample1['Revenues'].mean()
saple

22987.164

In [28]:

sample2 = df.sample(frac = .5 , random_state = 0)
saple1 = sample1['Revenues'].mean()
saple1

22987.164

In [29]:
'''select 70% random row from data setand consider this as a sample . calculate the mean of this sample with respect to profit column . repeat the process five times
compute the difference between actual mean and each of the sample mean sepratly . tablulate your observation'''

'select 70% random row from data setand consider this as a sample . calculate the mean of this sample with respect to profit column . repeat the process five times\ncompute the difference between actual mean and each of the sample mean sepratly . tablulate your observation'

In [30]:
t = df.sample(frac=.7 , random_state = 1)
mean_t = t['Profits'].mean()
print('Mean of This Data set' , mean_t)

Mean of This Data set 1634.9054285714287

In [31]:
x = df.sample(frac=.7 , random_state = 5)
mean_x = x['Profits'].mean()
print('Mean of This Data set' , mean_x)

Mean of This Data set 1725.4151428571429

In [32]:
r = df.sample(frac=.7 , random_state = 9)
mean_r = r['Profits'].mean()
print('Mean of This Data set' , mean_r)

Mean of This Data set 1883.149142857143

In [33]:
v = df.sample(frac=.7 , random_state =7)
mean_v = v['Profits'].mean()
print('Mean of This Data set' , mean_v)

Mean of This Data set 1847.9854285714282

In [34]:
a = df.sample(frac=.7 , random_state = 4)
mean_a = a['Profits'].mean()
print('Mean of This Data set' , mean_a)

Mean of This Data set 1876.998857142857

In [35]:
actual = df['Profits'].mean()
print('The mean of the Profits column is ' , actual)

The mean of the Profits column is  1779.4797999999998

In [36]:
print('the diffrence between actual-mean_t is ' , actual-mean_t)

the diffrence between actual-mean_t is  144.5743714285711

In [37]:
print('the diffrence between actual-mean_x is ' , actual-mean_x)

the diffrence between actual-mean_x is  54.06465714285696

In [38]:
print('the diffrence between actual-mean_v is ' , actual-mean_v)

the diffrence between actual-mean_v is  -68.50562857142836

In [39]:
print('the diffrence between actual-mean_r is ' , actual-mean_r)

the diffrence between actual-mean_r is  -103.66934285714319

In [40]:
print('the diffrence between actual-mean_a is ' , actual-mean_a)

the diffrence between actual-mean_a is  -97.51905714285726