In [5]:
import numpy as np 
import pandas as pd

In [6]:
data = {'age':[25,30,35,40,45,50],
       'work_exp':[2,5,8,12,16,20]}
df = pd.DataFrame(data)

In [3]:
df.head(7)

   age  work_exp
0   25         2
1   30         5
2   35         8
3   40        12
4   45        16
5   50        20

In [36]:
n = len(df)
n

6

In [37]:
sumxy = n * (df['age']  *  df['work_exp']).sum()
sumxy

16080

In [21]:
sumxintoy = df['age'].sum()*df['work_exp'].sum()
sumxintoy

14175

In [38]:
xsqrsum = n * (df['age']**2).sum()

In [25]:
sumxsqr = (df['age'].sum())**2

In [39]:
slope = (sumxy - sumxintoy) / (xsqrsum - sumxsqr)
slope

0.7257142857142858

In [40]:
intercept = (df['work_exp'].sum() - slope*df['age'].sum())/ 6
intercept

-16.71428571428572

In [41]:
meanx = df['age'].mean()
meany

37.5

In [43]:
meany = df['work_exp'].mean()
meany

10.5

In [45]:
y = (slope * 38 ) + intercept
y

10.862857142857141